{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}
{% block breadcrumb%} Liste des catégories {% endblock %}
{% block bouton%}
    <a class="btn btn-primary text-white" href="{{ path('app_categorie_new') }}">Créer un nouveau</a>
{% endblock%}
{% block body %}

<div class="card mt-3">
<div class="card-body">
    <table class="table table-hover">
        <thead>
        <tr>

            <th>Intitule</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>

                <td>{{ categorie.intitule }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Voir</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>



{% endblock %}
